<!-- app/views/family_links/accept_l2.html.erb -->

<% content_for :title, "おくすリング | 家族共有の招待" %>
<% content_for :description, "家族共有の招待を受け取り、設定を進めるページです。" %>

<h1>招待の確認ができました。</h1>

<p>
<%= @owner.name %> さんと家族共有を開始できます。
</p>

<h2>LINE通知の設定</h2>

<p>
⚠️まだ「おくすリングBOT」と友達になっていません。<br>
通知を受け取るために、BOTを追加してください。
</p>

<p>
  <%= link_to "BOTを追加する", "https://lin.ee/V1rMOS3" %>
</p>

<p>
※BOTの追加が完了しましたら、自動的にこのページへ戻ってきます。
</p>
