<!-- app/views/shared/_footer.html.erb -->

<footer class="site-footer">
  <nav class="footer-nav">
    <%= link_to "利用規約", terms_path %>
    <%= link_to "プライバシーポリシー", privacy_path %>
  </nav>

  <p class="footer-copy">
    © 2026 おくすリング
  </p>
</footer>
