<!-- app/views/home/index.html.erb -->

<h1>今日のお薬の予定</h1>

<h2>自分の予定</h2>

<% if @today_times.any? %>
  <ul>
    <% @today_times.each do |time| %>
      <li>
        <%= link_to time.medication_schedule.title,
                    medication_schedule_path(time.medication_schedule) %>
        （<%= time.time.strftime("%H:%M") %>）

        <button>飲んだよ</button>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>今日の服薬予定はありません</p>
<% end %>

<hr>

<p>
  ＋ <%= link_to "新しい服薬スケジュールを登録", new_medication_schedule_path %>
</p>

