<!-- app/views/medication_schedules/index.html.erb -->

<h1>今日の服薬予定</h1>

<% @today_schedules.each do |person| %>
  <section>
    <h2><%= person[:name] %></h2>

    <% if person[:schedules].any? %>
      <ul>
        <% person[:schedules].each do |schedule| %>
          <li>
            <%= schedule[:time] %> <%= schedule[:name] %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>今日の服薬予定はありません</p>
    <% end %>
  </section>
<% end %>
