<!-- app/views/medication_schedules/index.html.erb -->

<h1>今日のお薬の予定</h1>

<% if @schedules.any? %>
  <% @schedules.each do |schedule| %>
    <section>
      <h2><%= schedule.target_name %></h2>
      <h3><%= schedule.title %></h3>

      <ul>
        <% schedule.medication_times.each do |time| %>
          <li>
            <%= time.time.strftime("%H:%M") %>
          </li>
        <% end %>
      </ul>
    </section>
  <% end %>
<% else %>
  <p>今日の服薬予定はありません</p>
<% end %>

<hr>

<p>
  <%= link_to "＋ 新しい服薬スケジュールを登録（準備中）", "#" %>
</p>
