<!-- app/views/medication_schedules/index.html.erb -->

<h1>今日のお薬の予定</h1>

<% @schedules.each do |schedule| %>
  <section>
    <h2><%= schedule.target_name %></h2>
    <h3><%= schedule.title %></h3>

    <% if schedule.medication_times.any? %>
      <ul>
        <% schedule.medication_times.each do |time| %>
          <li>
            <%= time.time.strftime("%H:%M") %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>今日の服薬予定はありません</p>
    <% end %>
  </section>
<% end %>
